*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cal
{
    border: 1px solid #333;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

#ans
{
    margin: 10px;
    width: 90%;
    font-size: 30px;
}

.btn
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.clabtn
{
    padding: 25px;
    margin: 10px;

}